.header {
  position: fixed;
  z-index: 4;
  top: 33px;
  left: 0;
  right: 0;
  padding: 12px 0;
  background-color: transparent;

  @include m(767) {
    padding: 8px 0 7px;
    background-color: #ED5E42;
  }
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: var(--fillStep);
    background: #ED5E42;

    @include m(767) {
      display: none;
    }
  }
  &_wrapper {
    position: relative;
    width: 100%;
    max-width: 1110px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  &_logos {
    display: flex;
    align-items: center;
    margin-right: auto;

    &_del {
      display: block;
      height: 39px;
      width: 1px;
      background-color: #fff;
      margin: 0 15px;

      @include m(767) {
        height: 24px;
      }
    }
  }
  &_logo {
    display: block;

    &_pic {
      display: block;
      height: auto;

      &--main {
        width: 122px;

        @include m(767) {
          width: 73px;
        }
      }
      &--loto {
        width: 36px;

        @include m(767) {
          width: 24px;
        }
      }
    }
  }
  &_social {
    margin-left: auto;

    &_list {
      display: flex;
      align-items: center;
    }
    &_item {
      display: block;

      &:not(:first-of-type) {
        margin-left: 22px;

        @include m(767) {
          margin-left: 12px;
        }
      }
    }
    &_link {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;

      @include m(767) {
        width: 25px;
        height: 25px;
      }
      &:hover {
        .header_social_link_pathFigure {
          fill: #ED5E42;

          @include m(767) {
            fill: #FF9E27;
          }
          &--filled {
            fill: #FF9E27;
          }
        }
      }
      &_icon {
        display: block;
        width: 100%;
        height: auto;
        max-width: 100%;
      }
      &_pathFigure {
        fill: #FF9E27;
        transition: $trs;

        @include m(767) {
          fill: #ED5E42
        }
        &--filled {
          fill: #ED5E42
        }
      }
    }
  }
}
